body {
  background-color: #355070;
  color: #010c1b;
}

.navbar {
  text-align: center;
  background-color: #d3d0cb;
  padding: 15px;
  word-spacing: 50px;
  max-width: 100%;
}

a {
  color: #240115;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 5px 5px 5px grey;
}

a:hover {
  text-shadow: 3px 3px 5px grey;
}

a:active {
  text-shadow: 1px 1px 5px grey;
}

.header {
  text-align: center;
  text-shadow: 2px 2px 5px #d3d0cb;
}

#fName {
  font-size: 50px;
}

#title {
  font-size: 28px;
}

#show-img1,
#show-img2 {
  max-width: 50% !important;
  height: auto;
}

img {
  max-width: 100% !important;
  height: auto;
}

.img-container {
  text-align: center;
}

.about {
  text-align: justify;
}

#bio,
.show-descript {
  margin-left: 20%;
  margin-right: 20%;
  color: #d3d0cb;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 5px #d3d0cb;
  gap: 10px;
}

#name,
#phone,
#email {
  border: none;
  border-radius: 10em;
  width: auto;
  height: 25px;
  background-color: #d3d0cb;
}

#message {
  border: none;
  border-radius: 10px;
  background-color: #d3d0cb;
}

#submit {
  border: none;
  border-radius: 10em;
  width: 75px;
  height: 25px;
  box-shadow: 5px 5px 5px #d3d0bc;
}

#submit:hover {
  box-shadow: 3px 3px 5px #d3d0bc;
}

#submit:active {
  box-shadow: 1px 1px 5px #d3d0bc;
}
